*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    max-width: 100%;
}

body::-webkit-scrollbar {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--blk), var(--whf), var(--fblk));
    border-radius: 70px;
}

:root {
    --blk: rgb(0, 0, 0);
    --wh: rgb(255, 255, 255);
    --fblk: #455a64;
    --whf: rgb(223, 211, 211);
}

.inr-main {
    width: 100vw;
}

.clr-wh {
    color: var(--blk);
    text-align: center;
    font-size: 25px;
}

.pf-name {
    width: 35%;
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 8px 0;
    width: 100vw;
    box-shadow: 0 -2px 17px -2px var(--blk);
    position: fixed;
    top: 0;
    z-index: 5;
}

.main-cont {
    display: flex;
    width: 100vw;
    align-items: center;
    padding: 6px 0;

}

.box-main {
    background-color: rgb(255, 255, 255);
    width: 5%;
    display: flex;
    justify-content: center;
}

.bx-main {
    background-color: var(--blk);
    padding: 7px;
    width: fit-content;
    animation: rotar 2.6s infinite;
}

.bx-bdr {

    height: 40px;
    width: 35px;
    border: 6px solid rgb(252, 252, 252);
    animation: swing 2.6s infinite;
}

.bx-spot {
    background-color: rgb(255, 255, 255);
    height: 12px;
    width: 12px;
    position: relative;
    top: 60%;
    left: 55%;
    animation: move;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;

}

.d-flex {
    display: flex;
    width: 60%;
    justify-content: center;

}


.link-list {
    text-decoration: none;
    color: var(--blk);
}

.list-s {
    margin: 0 2rem 0 2rem;
    list-style: none;
}

.link-btn {
    color: var(--wh);
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}

.sc-link-btn:hover {
    scale: 1.05;
}

.sc-link-btn {
    border: none;
    background-color: var(--fblk);
    padding: 8px;
    border-radius: 4px;
    width: fit-content;
    margin-left: 20px;
    margin-top: 10px;
    transition: 0.7s;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--wh);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px var(--blk);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.head-cont {
    width: 100%;
}

.head-main {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    width: 100%;
}

.head-txt-cont {
    height: 65vh;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.head-img-cont {
    width: 50%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.name-txt {
    font-weight: bold;
    font-size: 34px;
}

.name {
    font-size: 34px;
    font-weight: bold;

}

.para {
    font-size: 25px;
    color: #808080;
}

.head-txt-item {
    width: 90%;
    font-size: 20px;
}


.btn-cont {
    display: flex;
}

.unl {
    border-bottom: 2px solid var(--fblk);
    box-shadow: 0px 0px 8px 0.2px var(--blk);
    width: 90%;
}

.underline-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-txt {

    margin: 6% 0 6% 0;
    text-align: center;
    font-size: 34px;
}

.cards-main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 8%;
}

.cards-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    transition: 0.7s;
    padding: 17px 0 17px 0;
    overflow: hidden;
}

.cards-cont:hover {
    scale: 1.10;
}

.course-img {
    height: 150px;
    width: 150px;
}

.pr-main-txt-head{
    margin: 6% 0 6% 0;
    text-align: center;
    font-size: 34px;
}

.pr-cont-main {
    display: flex;
    justify-content: center;

}
.mt {
    margin-top: 8%;
}

.pr-row {
    display: flex;
    width: 80%;
    justify-content: space-around;

}

.pr-col {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 8px 0.2px var(--fblk);
    margin-bottom: 8%;
    border-radius: 1.3%;
}

.pr-txt{
    padding: 20px 100px;
    color: #455a64;
}

.pr-cont {
    text-align: center;

}
.pr-img-cont {
    margin-bottom: 15px
}
.pr-btn-cont
{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
.pr-btn
{
    border: none;
    margin: 0 20px 0 20px;
    padding: 10px;
    background-color: #455a64;
    color: aliceblue;
    font-size: 16px;
    transition: 0.7s;

}

.pr-btn:hover {
    transform: scale(1.06);
}


@keyframes move {
    0% {
        top: 60%;
        left: 55%;

    }

    25% {
        top: 60%;
        left: 15%;

    }

    50% {
        top: 10%;
        left: 15%;

    }

    75% {
        top: 10%;
        left: 55%;
    }

    100% {
        top: 60%;
        left: 55%;
    }
}

@keyframes swing {

    100% {
        rotate: -720deg;

    }
}

@keyframes rotar {

    100% {
        rotate: 360deg;

    }
}

@media screen and (min-width: 712px) and (max-width: 1180px) {

    .d-flex {
        display: none;
    }

    .pf-name {
        width: 62%;
    }

    .clr-wh {
        font-size: 25px;
        text-align: center;
    }

    .dropdown {
        position: relative;
        width: 25%;
        display: flex;
        justify-content: end;
    }

    .box-main {
        width: 10%;
    }

    .dropdown-content {
        top: 26px;

    }
    .pr-row {
        display: block;
    }
    .pr-col {
        width: auto;
    }
}

@media screen and (min-width: 360px) and (max-width: 711px) {


    .d-flex {
        display: none;
    }

    .clr-wh {
        font-size: 20px;
        text-align: end;
    }

    .pf-name {
        width: 60%;
    }

    .box-main {
        width: 20%;
    }

    .dropdown {
        position: relative;
        width: 15%;
        display: flex;
        justify-content: end;
    }

    .dropdown-content {
        top: 26px;

    }

    .head-main {
        display: block;
    }

    .head-txt-cont {
        height: auto;
    }

    .head-txt-item {
        width: auto;
        padding: 10px;
    }

    .head-img-cont {
        height: 400px;
        width: 500px;
    }

    .head-cont {

        flex-direction: column;
    }

    .head-txt-cont {
        width: 100%;
    }

    .cards-main {
        display: block;
    }
    .cards-cont {
        width: auto;
    }

    .pr-row {
        display: block;
    }
    .pr-col {
        width: auto;
    }

    .pr-txt {
        padding: 20px 20px;
    }

    .pr-btn {
        padding: 7px 25px 7px 25px;
    }

    .hid-txt {
        display: none;
    }
}